<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gr4vy.gr4vy_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.gr4vy.android_sdk.Gr4vyActivity"
            android:exported="false" />
        <activity android:name="com.gr4vy.android_sdk.Secure3DActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
    </application>

</manifest>